/**
* Settigns for styles
*/
$c-positive: #62c6ae;
$c-positive-shadow:#488e7d;
$c-note: #f6695f;
$c-note-shadow: #b23f37;
$c-cloud: #f9f9f9;
$c-shadow-border: #e5e5e5;

$the-shadow: 0px 0px 2px rgba(black, .19), 0px 0px 3px rgba(black,.22);



/**DIMENSIONS**/

$w-tab:768px;
$w-med:990px;
$w-dts:1280px;
$w-dtl:1440px;
$w-dtxl:1980px;

@mixin PAGE_WIDTH() {
	width:calc(100% - 2rem);
	margin:1rem auto;
}

@media screen and (min-width:$w-tab){
	.visible-mobile{
		display:none!important;
	}
}
@media screen and (min-width:$w-med){
	.visible-tab{
		display:none!important;
	}
}

@media screen and (max-width:767px){
	.hidden-mobile{
		display: none;
	}
}
@media screen and (max-width:989px){
	.hidden-tab{
		display: none;
	}
}