@media only screen
  and (max-width:320px)
  and (max-height:480px){
    #hero-full{
      min-height:480px;
      justify-content: flex-end;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    #hero-full{
      min-height: auto;
      height: 100vh;
      max-height: 568px;
      justify-content: center;
    }
    #hero-page{
      height: auto;
      min-height: 200px;
      max-height: 260px;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #hero-full{
      min-height: auto;
      height: 100vh;
      max-height: 568px;
      justify-content: center;
    }
    #hero-page{
      height: auto;
      min-height: 200px;
      max-height: 260px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    #hero-full{
      min-height: 568px;
      height: 568px;
      justify-content: center;
    }
    #hero-page{
      height: auto;
      min-height: 200px;
      max-height: 260px;
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #hero-full{
      min-height: auto;
      height: 100vh;
      max-height: 667px;
      justify-content: center;
    }
    #hero-page{
      height: auto;
      min-height: 221px;
      max-height: 240px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #hero-full{
      min-height: 450px;
      height:auto;
      max-height: 667px;
      justify-content: center;
    }
    #hero-page{
      height: auto;
      min-height: 330px;
      max-height: 450px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {



}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #hero-full{
      min-height: auto;
      height: 100vh;
      max-height: 736px;
      justify-content: center;
    }
    #hero-page{
      height: auto;
      min-height: 220px;
      max-height: 350px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #hero-full{
      min-height: 414px;
      height: auto;
      max-height:736px; 
      justify-content: center;
    }
    #hero-page{
      height: auto;
      min-height: 220px;
      max-height: 350px;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #hero-full{
      min-height: auto;
      height: 100vh;
      max-height: 812px;
      justify-content: center;
    }
    #hero-page{
      height: auto;
      min-height: 243px;
      max-height: 350px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #hero-full{
      min-height: 375px;
      height: 375px;
      justify-content: center;
    }
    #hero-page{
      height: auto;
      min-height: 250px;
      max-height: 350px;
    }
}