/**
* Basic typography rules
* ======================
* - No element-level mods here
* - Base for viewport-based units
* - Font-famlilies
*/ 

/**
* Fonts
*/
@font-face{
  font-family: 'Gotham Rounded';
  src: url('fonts/GothamRounded-Book.otf');
  src: url('fonts/GothamRounded-Book.eot');
  src: url('fonts/GothamRounded-Book.woff');
  font-weight: normal;
}
@font-face{
  font-family: 'Gotham Rounded Bold';
  src: url('fonts/GothamRounded-Bold.otf');
  src: url('fonts/GothamRounded-Bold.eot');
  src: url('fonts/GothamRounded-Bold.woff');
  font-weight: bold;
}


$font-headings: 'Patua One', cursive;
$font-body: 'Gotham Rounded';
$font-bold: 'Gotham Rounded Bold';

:root{
	//font-size:calc(.75rem + 1vw);
  font-size:14px;

  @media screen and (min-width: 990px){
    font-size: 16px;
  }
  @media screen and (min-width: 1280px){
    font-size: 18px;
  }
}
/***
* Font-scale from type-scale @ augmented fourth
*/ 

//Transitions
p,h1,h2,h3,h4,h5,h6,small,a,strong{
	transition:all 248ms ease-in-out;
}

html {font-size: 0.875rem;}

body {
  background-color: white;
  font-family: $font-body;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3rem;}

h1, h2, h3, h4 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
  font-family: $font-headings;
}

h1 {
  margin-top: 0;
  font-size: 3.998rem;
}
article.type-page h1,
h2 {font-size: 2.827rem;}

h3 {font-size: 1.999rem;}

h4 {font-size: 1.414rem;}

h1.small{@extend h2;}
h2.small{@extend h3;}
h3.small{@extend h4;}

h1.xsmall{@extend h3;}
h2.xsmall{@extend h4;}
h3.xsmall{@extend p;}

small, .font_small {font-size: 0.707rem;}

b,strong{
  font-weight: bold;
  font-family: $font-bold;
}

p.xl{
  @extend h3;

  @media screen and (min-width:$w-dts) {
    font-size: 2.827rem;
  }
}

a{
	color:$c-note;
	&:hover{
		color:$c-positive;
	}

  &.no-style-link{
    color:inherit;
    text-decoration: none;

    &:hover{
      color:$c-note;
    }
  }
}

label{
  font-weight: normal;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
