/*** HEADER *****/
.pre-nav-box{

	@media screen and (max-width:989px) {
		
	
	display: flex;
	flex-flow:row;
	justify-content:space-between;
	align-items:center;

	}

	height:80px;

	.logo-col{
		width: 70%;
		padding-left: 1rem;

		p.logo-title{
			line-height: 1;
			margin-top:0;
			margin-bottom: 0;
			font-family: $font-headings;
			color:white;
		}
	}
	.nav-toggle-col{
		align-self:stretch;
		background-color:rgba($c-note, .76);
		width: 80px;
		position:relative;
	}
	#nav-open{
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
	}
}
#logo{
	min-width:130px;
	max-width:180px;
	height:auto;
	line-height:1;
}


header.site-header{
	z-index:9;
	position:absolute;
	top:0;
	left:0;
	right:0;
	background-color:rgba(black,.5);
}

/**---------------**/

/*** Navigation ***/

@media screen and (max-width:989px) {
	

	.nav-toggle-col{
		transition:all 248ms ease-in-out;
		&:hover,
		&:focus,
		&:active{
			background-color:$c-note;
		}
	}

	#nav-open{
		background-color:transparent;
		color:white;
		border:none;
		box-shadow:none;

		font-size:1.75rem;
	}

	#nav-box{
		position:fixed;
		right: 0;
		top:0;
		bottom:0;
		width:calc(100% - 2rem);
		max-width:315px;

		transition:transform 500ms ease-in-out;
		transform-origin:center right;
		transform:translateX(100%);

		background-color:$c-cloud;
		box-shadow:0 -1px 3px rgba(black,.17), 0 -2px 5px rgba(black,.22);

		.nav-box--controls,
		.nav-box--note,
		#site-nav{
			width:100%;
		}

		.nav-box--controls,
		.nav-box--note{
			background-color:$c-note;
			color:white;
			font-size: 1.25rem;
		}
		.nav-box--controls{
			height: 80px;
			padding:0rem 1.5rem;
			display: flex;
			flex-flow:row;
			justify-content: space-between;
			align-items:center;
			label{
				font-family: $font-headings;
			}
			button{
				transform:translateX(-.5rem);
				background-color:transparent;
				border:none;
				box-shadow:none;
				color:white;
			}
		}
		.nav-box--note{
			font-family: $font-headings;
			text-align: right;
			padding: .5rem 1.5rem;

			a{
				color:white;
				text-decoration:none;
			}
		}

	}

	#nav-box.open{
		transform:translateX(0%);
		overflow:auto;
	}

	#site-nav{
		ul{
			list-style: none;
			padding-left:0;
			padding-right:0;
			margin:0;
		}

		& > ul > li{
			padding:0 3rem 0 0;
			background-color:white;
			border-bottom:solid 1px #efefef;
			z-index: 2;
			overflow: hidden;
			& > a{
				background-color:white;
			}
		}

		li{
			text-align: right;
			line-height: 1;
			position:relative;
			transition: all 248ms ease-in-out;

			box-sizing:border-box;
			width:auto;
		}
		li.current-menu-parent,
		li.menu-item.current-menu-item{
			border-left:solid 3px $c-note;
		}
		li.current-menu-parent li.menu-item.current-menu-item{
			border-left:none;
		}
		li.menu-item-has-children{
			& > ul > li{
				background-color:#efefef;
				border-bottom:solid 1px darken(#efefef,5%);
				&:last-of-type{
					border-bottom:none;
				}
				& > a{
					background-color:#efefef;
				}
			}

			.sub-menu-toggler{
				position:absolute;
				top:0;
				right:0;
				padding:1rem 1.25rem;
				background-color:transparent;
				box-shadow:none;
				border:none;
				line-height: 1;

				color:$c-note;

				i{
					transition:transform 248ms ease-in-out;
					transform-origin:right center;
					font-size: 1.125rem;
					line-height: 1;
				}
				&.active i{
					transform:rotate(-90deg);
				}
			}

			&.show-sub-menu{
				.sub-menu{
					display: block;
					.menu-item{
						position:relative;
					}
				}
			}

			.sub-menu{
				position:relative;
				overflow: hidden;
				height: 0;
				margin-right: -3rem;
				
				.menu-item{
					z-index: 1;
					position:relative;
					padding-right:1.5rem;
				}
				.menu-item a{
					font-size: 1rem;
					padding:.85rem 0;
				}
			}
		}

		a{
			line-height: 1;
			text-decoration: none;
			padding:1rem 0;
			display: block;

			font-family: $font-headings;
			font-size: 1.125rem;

			&:hover{
				color:$c-note-shadow;
			}

		}
	}
}
/** BREAKPOINT - DTS **/

/** DESKTOP NAV **/
@media screen and (min-width: $w-med) {
	
	header.site-header{
		display: flex;
		flex-flow:row;
		justify-content: space-between;
		align-items:stretch;
	}

	.pre-nav-box{
		width:auto;
		max-width: 280px;
		height: auto;
		display:block;
		.logo-col{
			width: auto;
			min-height: 100%;
			height: 1px;
			display:flex;
			flex-flow: column;
			justify-content: center;
			align-items:flex-start;
			.logo-title{
				padding-left:1px;
			}
		}

		#logo{
			min-width:13rem;
			max-width: 100%;
			//margin: auto;
			margin-bottom: .4rem;
		}

		.nav-toggle-col{
			display:none;
		}
	}
	#nav-box{
		.nav-box--controls,
		.nav-box--note{display:none;}
	}
	#site-nav{
		height: 100%;
	}
	#site-nav > ul.menu{
		height: 100%;
		margin: 0;
		& > li.menu-item a{
			padding:3rem 1rem;
			display: block;
			line-height: 1;

			&:hover{
				background-color:rgba($c-note,.8);
			}
		}

		li.menu-item.current-menu-parent,
		li.menu-item.current-menu-item{
			background-color:$c-note;
		}

		& > li.menu-item-has-children {
			
			&:hover > .sub-menu{
				background-color:$c-note;
				display: block;
			}

			a{
				padding-right:2rem;
			}

			&:hover button{
				color:white;
			}

			button{
				transition: color 248ms ease-in-out;
				line-height: 1;
				position:absolute;
				top:50%;
				right:.25rem;
				transform: translateY(-50%);

				background-color:transparent;
				box-shadow:none;
				border:none;
				color:$c-note;
				font-size: 1.25rem;

				i{
					transition: all 248ms ease-in-out;
					transform: rotate(-90deg);
				}

				&:hover{
					cursor:pointer;
				}

			}

			.sub-menu{
				list-style: none;
				position: absolute;
				padding:0;

				width: auto;
				display: none;
				top: auto;
				right: 0px;
				margin-left: 0px;
				margin-top: 0px;
				min-width: 10rem;
				max-width: 30rem;

				z-index: 9999;

				& > li.menu-item{
					border-bottom:solid 1px $c-note-shadow;
				}
				& > li.menu-item a{
					padding: 1rem;

					&:hover{
						background-color: darken($c-note, 5);
					}

				}
			}	
		}
		& > li.menu-item-has-children.current-menu-item {
			button{
				color:white;
			}
		}

		& > li{
			position:relative;
			display: inline-block;
		}
	}
	
	
	.menu-item a{
		color:white;
		text-decoration:none;
	}
	


}
@media screen and (min-width: 1000px) {
	.pre-nav-box{
		max-width: unset;
	}
}
/**---------------**/

/*** HERO ***/

#hero-full{

	transition: all 248ms linear;
	height:1px; //Hack for IE
	min-height:100vh;
	display: flex;
	flex-flow:column;
	justify-content: center;
	align-items:flex-start;

	background-size:cover;
	background-repeat: no-repeat;
	background-position:20% 0;


	&:after{
		content:'';
		z-index: 1;
		display: block;
		position:absolute;
		top:0;
		left:0;
		right: 0;
		bottom:0;
		background:linear-gradient(90deg, $c-note, rgba($c-note,0));
		opacity:.51;
	}


	@media only screen and (max-device-width:$w-tab) and (orientation:landscape){
		justify-content: flex-end;
	}

	.hero-container{
		z-index: 2;
		width:calc(100% - 2rem);
		margin: 0 auto;
		padding-right:25%;

		@media screen and (min-width:$w-med){
			width: calc(100% - 6rem);
			padding-right:45%;
			//min-height: 450px;
			height: auto;
			//margin: 10rem auto;
		}

		@media screen and (min-width:$w-dtl){
			
		}

	}
	.punch{
		margin:0 0 1.5rem;
		color:white;
	}

}

nav.woocommerce-breadcrumb{
	font-family:$font-headings;
	color:rgba(black,.5);
}

#hero-page{
	height:auto;
	height:30vh;
	min-height:350px;

	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;

	margin-bottom:5rem;

	&:after{
		content:'';
		z-index: 1;
		display: block;
		position:absolute;
		top:0;
		left:0;
		right: 0;
		bottom:0;
		background:linear-gradient(90deg, $c-note, rgba($c-note,0));
		opacity:.51;
	}

	@media only screen and (min-height:300px) and (max-height:450px){
		min-height:300px;
	}

	.hero-container{
		position:absolute;
		bottom:0;
		left:50%;
		transform:translateX(-50%) translateY(50%);
		padding:1rem 2rem;
		width: calc(100% - 3rem);
		max-width:990px;

		text-align: center;

		background-color:white;
		box-shadow:$the-shadow;
		z-index: 2;

		.page-title{
			@extend h3;
			margin:.2rem 0;

			word-break: break-all;

			@media screen and (min-width:$w-tab){

				font-size: 2.827rem;
			}
		}

		@media screen and (min-width:$w-tab) {
			width: calc(100% - 5rem);
			padding:1rem 5rem;
		}
	}

	.shortcuts{
		margin:.5rem;
	}
	@media screen and (min-width:$w-tab) {
		
		.shortcuts.cart-block{
			width: auto;
			height: 100%;
			position: absolute;
			top:0;
			right: 0;
			bottom:0;
			margin:0;
			padding:0 2rem;
			background:$c-note;
			color:white;
			line-height: 1;

			i{
				display: block;
				position:absolute;
				top:50%;
				left:50%;
				transform: translate(-50%, -35%);
				line-height: 1;
			}

			&:hover{
				background: darken($c-note, 5);
			}
		}

	}
}

/**---------------**/


/*** DIMENSIONS ***/
#page{
	background-color:$c-cloud;
}

body.page-template-default,
body.page-template-page-myaccount,
body.post-template-default{
	main.site-main{

	}
	.page-content-wrap{

		margin-bottom: 4rem;
		margin-bottom: 5vh;




		@media screen and (min-width:$w-tab) {
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			align-items:flex-start;

			.article-wrap{
				//width: auto;
				margin-right: 2rem;
				padding:1rem 1.5rem;
			}
			.sidebar-wrap{
				min-width: 25%;
				width: auto;
				max-width: 320px;

			}

		}
		@media screen and (min-width:$w-dts) {
			.sidebar-wrap{
				min-width: 25%;
				width: auto;
				max-width: 430px;

			}			
		}
		
	}
	div.sidebar-wrap{
		ul{
			padding-left:1.2rem;
		}
		.widgets-wrap{
			display: block;
		}
	}
}

.recent-posts{

	.sidebar-container{
		text-align:left;
		h3.sidebar-header{
			color:$c-note;
		}
		ul.dobby-post-loop{
			padding-left:0;
		}
	}
}


/**---------------**/


/** PRODUCT ROWS **/

div.product-row-wrapper .woocommerce{
	ul{
		padding-left:0;
	}
}

/**--------------**/

/** FOOTER **/

footer.site-footer{
	.flex-wrap{
		display: flex;
		flex-flow:column;
		justify-content: stretch;
	}
	.footer-col{
		padding: 2rem;
	}
	.footer-col-1{
		background-color:$c-note;
		color:white;
		order:2;
	}
	.footer-col-2{
		background-color:$c-cloud;
		text-align: center;
	}

	.certs{
		list-style: none;
		padding-left:0;
		display: flex;
		flex-flow:row wrap;
		justify-content: flex-start;
		.cert{
			max-height:80px;
			margin-right: .5rem;
		}
		img{
			height: auto;
			max-height:80px;
		}
	}
	.site-meta{
		@extend small;
		margin:1.5rem 0 0;
	}

	@media screen and (min-width:$w-tab) {
		.flex-wrap{
			flex-flow:row nowrap;
			justify-content: stretch;
			align-items:stretch;

			.footer-col{
				width:50%;
			}
			.footer-col-1{
				order:0;
			}
			.footer-col-2{
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items:center;

				.xl{
					margin-top: 0;

					color:$c-note;
				}
			}
		}
	}
}


#somelinks{
	a{
		text-decoration: none;
		margin:1rem .25rem;
		display: inline-block;
	}
	.round{
		transition: background-color 248ms ease-in-out;
		$some-link-size: 3rem;
		font-size: calc( #{$some-link-size} - 1.5rem);
		width:$some-link-size;
		height: $some-link-size;
		line-height: $some-link-size;

		color:white;
		background-color:$c-positive;
		box-shadow:$the-shadow;

		&:hover{
			background-color:$c-note;
		}
	}
}

/**--------**/





/*** Blogi ***/
main.archive-default{
	ul.post-list{
		list-style: none;
		padding-left:0;
		@extend ul.dobby-post-loop;

		li{
			display: block;
			a{
				display: block;
			}
		}

		@media screen and (min-width:$w-tab) {

			@supports (flex-flow:row wrap ){
				display: flex;
				flex-flow:row wrap;
				align-items:stretch;

				li{
					float:none!important;
				}
			}

			li{
				float:left;
				width: calc(50% - 2rem);

				&:nth-child(odd){
					margin-right:1rem;
				}
				&:nth-child(even){
					margin-left:1rem;
				}
			}
		}

		@media screen and (min-width:$w-med) {
			@supports (flex-flow:row wrap ){
				display: flex;
				flex-flow:row wrap;
				align-items:stretch;

				li{
					float:none!important;
				}
			}

			li{
				float:left;
				width: calc( (100% /3 )  - 1rem);

				&:nth-child(1n){
					margin-right:.5rem;
				}
				&:nth-child(2n){
					margin-left:.5rem;
					margin-right:.5rem;
				}
				&:nth-child(3n){
					margin-left: .5rem;
				}
			}
		}
		@media screen and (min-width:$w-dtl) {
			@supports (flex-flow:row wrap ){
				display: flex;
				flex-flow:row wrap;
				align-items:stretch;

				li{
					float:none!important;
				}
			}

			li{
				float:left;
				width: calc( (100% / 4 )  - 1rem);

				&:nth-child(1n){
					margin-right:.5rem;
				}
				&:nth-child(2n){
					margin-left:.5rem;
					margin-right:.5rem;
				}
				&:nth-child(3n){
					margin-left:.5rem;
					margin-right:.5rem;
				}
				&:nth-child(4n){
					margin-left: .5rem;
				}
			}
		}

		&:after{
			content:'';
			display: block;
			width: 100%;
			clear: both;
		}
	}
}

div.post-navigation{
	margin-bottom:2rem;
	text-align:center;

	& > div{
		float:none;
		display: inline-block;
		width: auto;
		max-width: 50%;
		margin:.5rem;
	}

	&:after{
		content:'';
		display: block;
		width: 100%;
		clear: both;
	}
}

/**--------**/

/** MODALS **/
#login-form-modal{
	background-color:white;
	max-width:calc(100% - 2rem);
	width: auto;
	margin: auto;
	background-color:$c-cloud;
	padding:1rem;

	.modal-container{
		margin: auto;
		@extend .card;
		padding-top:0;
		padding-bottom: 0;
	}

	@media screen and (min-width:$w-tab) {
		max-width: 500px;
	}

	button.mfp-close{
		color:$c-note;
		margin-top: 2rem;
		margin-right:2rem;
		width: 2rem;
		height: 2rem;
		line-height: 2rem;
	}


}