body.home{

	section.cards-wrapper{
		padding-top:2rem;
		padding-bottom:2rem;

		max-width: calc(990px + 4rem);
		margin: 0 auto;


		.card{
			text-align: center;
			width: calc(100% - .5rem);
			max-width: 450px;

			margin-top: 1.5rem;
			margin-bottom: 1.5rem;

			

			@media screen and (min-width:$w-dts) {
				padding: 2rem 4rem;
			}
		}

		.slick-slide{
			text-align: center;
			padding: 1rem 0;
			margin-left: 1.5rem;
			margin-right: 1.5rem;
			@media screen and (min-width:$w-dts) {
				margin:0 auto;
			}
		}
	}

	section#services{
		padding:2rem 0;
		.product-row-wrapper{
			margin-bottom: 3rem;
		}
		ul.products{
			position:relative;
		}
		ul.products .slick-slide{
			margin: .5rem;
		}
		.woocommerce-loop-product__title{
			padding:0 .5rem;
		}
		li.product{
			text-align: center;

			img{
				max-width: 100%;
				height: auto;
				margin: 0 auto;
			}
			span.price{
				display: none;
			}
			a.button{
				display: none;
			}
		}

		.products .slick-list{
			width: calc(100% - 4rem);
			margin:0 auto;
		}

		button.slick-arrow{
			&:before{
				color:$c-positive;
			}

			&.slick-prev{
				left:0;
				&:before{
					content:'\f053';
					font-family: FontAwesome;
				}
			}
			&.slick-next{
				right:0;
				&:before{
					content:'\f054';
					font-family: FontAwesome;
				}
			}
		}
		.section-footer a{
			margin: 0 auto;
		}

		@media screen and (min-width:$w-med) {
			.content-wrap{

				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items:stretch;

				@supports not (flex-flow:row nowrap){
					display: block;
					width: 100%;
					.col{
						float:left;
					}
					.col-1{
						width: calc( ( ( 100% / 3 ) * 2 ) - 2rem);
					}
					.col-2{
						width: calc(100% / 3);

						&:after{
							content:'';
							display: block;
							width: 100%;
							clear: both;
						}
					}
				}

				.col{
					padding:2rem;
					height: auto;
				}
				.col-1{
					width: 66%;
				}
				.col-2{
					width: calc(100% / 3);
				}
				.col-2 .dobby-post-loop{
					padding:0 1rem;
				}
			}
			.woocommerce-loop-product__title{
				font-size: 1rem;
			}
		}
	}

	section#references{
		box-shadow:$the-shadow;
		padding: 2rem 0;
		.section-header{
			text-align: center;
		}
		.section-header--subtitle,
		.section-header--icon{
			color:$c-note;
			font-size: 1.25rem;
		}
		.section-header--subtitle{
			margin-bottom: .2rem;
		}
		.section-header--icon{
			margin-top:.2rem;
		}

		.carousel .slick-slide{
			min-height: 20rem;
			display: flex;
			flex-flow:column;
			justify-content: center;
			align-items:center;

			@media screen and (min-width:$w-dts) {
				min-height:15rem;
			}
		}
		.carousel .ref-item{
			box-sizing:border-box;
			padding:1rem 1.5rem;
		}
	}
}