.reset_variations{
	display:none!important;
}

body.woocommerce-page.archive #widget-area,

div.woocommerce-message{
	border:solid 1px darken($c-cloud, 5);
	border-top: solid 2px $c-positive;
	background-color:white;

	&:before{
		color:$c-positive;
	}
}
div.woocommerce-error{
	@extend .woocommerce-message;
	border-top:solid 2px $c-note;

	&:before{
		color:$c-note;
	}
}
div.woocommerce-info{
	@extend .woocommerce-message;
	border-top:solid 2px $c-positive-shadow;

	&:before{
		color:$c-positive-shadow;
	}
}

.woocommerce ul.products li.card{
	
	padding-bottom:1.5rem;

	.woocommerce-loop-product__title,
	.star-rating,
	.price,
	a.button{
		margin-left:.75rem;
		margin-right:.75rem;
	}

}

aside#widget-area{
	text-align:right;
	.widgets-wrap{
		text-align: left;
	}
}
#toggle-widgets{
	@extend a.btn.note;
	width:3rem;
	height:3rem;
	border-radius:150%;
	line-height:3rem;
	font-size:1rem;
	padding:0;
	border:none;
	box-shadow:$the-shadow;
	display:inline-block;

	transition: all 248ms ease-in-out;	

	&.active{
		transform:rotate(-45deg);
	}

	&:hover{
		background-color: darken($c-note,5);
	}
}

ul.uac-controls{
	list-style:none;
	padding-left:0;


}

// Sidebara
.widgets-wrap{
	display:none;
	.card{
		padding:.2rem 1rem;
	}
	@media screen and (min-width: $w-tab){

		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items:stretch;

		.wc-widgets.card:first-of-type{
			margin-right:1rem;
			width: calc(75% - 2rem);
		}
		.wc-widgets.card:last-of-type{
			margin-left:1rem;
			width: calc(25% - 1rem);
		}
	}
}

// Product category
#primary-sidebar {
	ul.product-categories{
		list-style:none;
		padding-left:0;

		li{
			display: inline-block;
			margin-bottom: 1rem;

			margin: .5rem;

			a{
				@extend a.btn.note;
				font-family: $font-headings;
				font-size: 1rem;
				width:auto;
				padding: .5rem;
				margin: 0;
				display: inline-block;
				text-decoration: none;

				@media screen and (min-width:$w-dts){
					font-size: .85rem;
				}
			}
		}
	}
}
#secondary-sidebar {
	.container{
		width: 100%;
	}
}

.woocommerce .single_add_to_cart_button.button.alt,
.woocommerce .single_add_to_cart_button.button.alt.disabled{
	transition:all 248ms ease-in-out;
	font-family:$font-headings;
	color:white;
	background-color:$c-note;
	font-weight:normal;
	border-radius:3px;
	display: block;
	text-align:center;
	border-bottom: solid 2px $c-note-shadow;

	padding-left: 1rem;
	padding-right: 1rem;

	&:hover{
		color:white;
		background-color:$c-note-shadow;
	}
}
.woocommerce .single_add_to_cart_button.button,
.woocommerce a.button{
	font-family:$font-headings;
	color:white;
	background-color:$c-positive;
	font-weight:normal;
	border-radius:3px;
	display: block;
	text-align:center;
	border-bottom: solid 2px $c-positive-shadow;

	padding: .85rem;

	white-space:normal;

	&:hover{
		color:white;
		background-color:$c-note;
		border-color:$c-note-shadow;
	}
}

.woocommerce a.button.checkout-button,
input#place_order.button{
	background-color:$c-positive;

	&:hover{
		background-color:lighten($c-positive, 5);
		border-bottom-color:$c-positive;
	}
}

input#place_order.button{
	font-family:$font-headings;
	font-weight:normal;
	font-size:1.25rem;
}

.woocommerce a.button.wc-backward{
	max-width:250px;
	margin: 0 auto;
}

.woocommerce .added_to_cart.wc-forward{
	text-align:center;
	display:block;
	text-align:center;
	color:$c-note;

	&:hover{
		color: $c-note-shadow;
	}
}

.woocommerce input.button[name="update_cart"]{
	font-family:$font-body;
	border-radius:3px;
}

.woocommerce form.woocommerce-ordering{
	display:inline-block;
	margin: 1rem auto;
	width: 100%;
	float:none;

	select{
		width: 100%;
	}
}



.woocommerce ul.products li.product .price{
	color:$c-positive-shadow;
}

.woocommerce .star-rating span{
	color:$c-positive;

}

/**
* SINGLE
*/
body.product-template-default{

	#content{
		.page-content-wrap{
			article.card{
				
			}
			div.summary.entry-summary{
				.price{
					color:$c-positive-shadow;
				}
			}

			@media screen and (min-width:$w-tab) {
				article.card{
					width: calc(65% - 2rem);
					margin-right: 2rem;
					float: left;
				}
				div.purchace-wrap{
					width: 35%;
					float: right;

					.summary.entry-summary{
						width: 100%;
					}
				}
			}
		}

		/**
		* examples gallery
		*/ 
		div.examples_gallery{

			.examples_gallery--image-wrap{
				float: left;
				display: inline-block;
				margin-right:.5rem;

				width: 4rem;
				height: 4rem;

				a{
					display: block;
					width: 100%;
					height: 100%;
					overflow: hidden;
				}
			}
			.examples_gallery--image-wrap:nth-child(1){
				width: 100%;
				height: 100%;
				margin-bottom: 1rem;
				margin-right: 0;
			}

			&:after{
				content:'';
				display: table;
				clear:both;
			}

			.examples_gallery--image-wrap:nth-child(1n+2){
				.examples_gallery--image---link img{
					height: 100%;
					width: auto;
					max-width: unset;
				}
			}
	
		}
		p.examples_hint{
			margin-top:0;
		}

		div.woocommerce-product-gallery.images{
			width: 100%;
		}

		.woocommerce-product-gallery__image{
			&:first-of-type{
				margin-left: 0;
				margin-right: 0;
			}
			&:nth-child(2){
				margin-left: 0;
			}
			margin: .5rem;
		}

		.woocommerce-tabs.wc-tabs-wrapper.card{
			ul.tabs{
				&:before {border-color:darken($c-cloud,5);}

				li[role="tab"]{
					transition: all 248ms ease-in-out;
					border-radius:3px 3px 0 0;
					border-color:darken($c-cloud,5);
					color:white;
					
					&:before,
					&:after{
						box-shadow:2px 2px 0 darken($c-cloud,5);
						border-color:darken($c-cloud,5)!important;
					}
				
					&.active{
						&:after{

						}
					}
					a{
						color:black;
					}
				}
			}

		}
	}


}

/**
* CART PAGE
*/
.woocommerce-checkout main.site-main .page-content-wrap,
.woocommerce-cart main.site-main .page-content-wrap{
	display:block;
	text-align:center;

	.card{
		display: inline-block;
		margin: 2rem auto;
		width: 100%;
		max-width: 990px;

	}
}

/**
* ACCOUNT PAGE
*/ 
.woocommerce-account main.site-main .page-content-wrap{
	.article-wrap{
		@media screen and (min-width:$w-tab) {
			min-width: calc(75% - 2rem);
			width: auto;
			max-width: calc( (100% - 320px) - 2rem );	
		}
	}
	article.page .woocommerce{
		@media screen and (min-width:$w-tab) {
			display: flex;
			flex-flow:row;
			justify-content: space-between;
			align-items:stretch;
		}
		nav{
			margin-right: 2rem;
		}
		nav ul{
			padding-left: 0;
			list-style:none;

			li.woocommerce-MyAccount-navigation-link{
				margin-bottom: .5rem;
			}
			li.woocommerce-MyAccount-navigation-link a{
				padding:.5rem;
				background-color:$c-positive;
				display: inline-block;
				width: 100%;
				color:white;
				box-sizing:border-box;

				&:hover{
					background-color:$c-positive-shadow;	
				}
			}
			li.woocommerce-MyAccount-navigation-link.is-active a{
				background-color:$c-positive-shadow;
			}
		}

		div.woocommerce-MyAccount-content{
			width: 100%;
			margin: 0 auto;

			a.button.woocommerce-Button{
				display: inline-block;
				width: auto;
				margin: 1.5rem;
			}
		}	

	}
}


/**
* SHORTCODE-LISTS
*/
ul.products div.star-rating{
	display:none;
}

/**
* CUSTOM CHECKOUT PAGE
*/ 
.woocommerce-checkout .checkout.woocommerce-checkout{

}

/**
* BONUSWAY FRAME
*/
#bonusway_frame{
	visibility:hidden;
	overflow:hidden;
	width:0;
	height:0;
	margin:0;
}