img{
	max-width:100%;
	height:auto;
}

iframe,
embed,
object,
video{
	max-width:100%;
	height:auto;
	box-sizing:border-box;
}

.container{
	width:calc(100% - 2rem);
	max-width:calc(1280px - 2rem);
	margin:0 auto;
	float:none;
}
a.btn{
	font-family:$font-headings;
	text-decoration:none;

	&.small{
		font-size: 1rem;
		padding:.8rem;
		width: auto!important;
		min-width: 180px;
	}
}
a.btn.positive{
	display: block;
	border-radius:3px;
	border-bottom:solid 2px $c-positive-shadow;

	background-color:$c-positive;
	color:white;

	font-size:1.25rem;
	width:250px;
	padding:1rem 0;
	text-align:center;

	margin: 1rem 0;

	&:hover{
		box-shadow: $the-shadow;
	}
}
a.btn.note{
	@extend .positive;
	background-color:$c-note;
	border-color:$c-note-shadow;
}

.fa.round{
	$fa-size: 1.2rem;

	display:inline-block;
	width:$fa-size;
	height:$fa-size;
	font-size:.85rem;
	text-align:center;
	line-height:$fa-size;
	vertical-align:middle;
	border-radius:150%;

	&.positive{
		color:white;
		background-color:$c-positive;
	}
}

ul.checkmarks{
	list-style:none;
	padding-left:0;

	display:inline-block;
	text-align:left;

	/**
	* Space after fa-icon
	*/ 
	li i{
		margin-right: .5rem;
	}
}
ul.products{
	list-style:none;
	padding:0;
	display:block;
}
ul.carousel{
	list-style:none;
	padding:0;

	li a{
		display: block;
	}
	li img{
		max-width: 100%;
	}
}

ul.contact-information{
	list-style:none;
	padding-left:0;
	color:white;
	margin-bottom:2.5rem;
}

ul.dobby-post-loop{
	list-style:none;
	li.dobby-post{
		display: block;
	}
	.dobby-loop-post__link{
		text-decoration: none;
		color:black;

		&:hover{
			.dobby-loop-post__excerpt,
			.dobby-loop-post__readmore{
				text-decoration: underline;
			}
		}
	}
	.dobby-loop-post__title{
		@extend h4;
		margin-top:0;
	}
	.dobby-loop-post__readmore{
		color:$c-note;
		&:hover{
			color:$c-note-shadow;
		}
	}
}

p.punch{
	@extend h2;

	@media screen and (min-width:$w-med) {
		font-size: 3.998rem;
	}
}

section.cloud{
	background-color:$c-cloud;
}

.card{
	display:inline-block;
	box-shadow:$the-shadow;
	padding:1.25rem;
	margin: 1rem auto;
	width:calc(100% - 2px);
	overflow:visible;

	background-color:white;

	.pin{
		$pin-size: 3.5rem;
		box-shadow:$the-shadow;
		background-color:$c-note;
		border-radius:150%;
		text-align: center;

		width: $pin-size;
		height: $pin-size;
		line-height: $pin-size;
		font-size: 1.5rem;
		color:white;

		position:absolute;
		top:0;
		left:50%;
		transform:translate(-50%, -50%);

	}
}

ul.slick-dots{
	li{
		background-color:$c-positive;
		border-radius:150%;
		opacity:0.5;	

		width: 1rem;
		height: 1rem;
	}
	li button:before{
		color: transparent;
	}
	li.slick-active{
		opacity:1;

		button:before{
			color:transparent;
		}
	}

}
.section-header{
	margin-bottom:1.5rem;
}


header.legend{
	text-align:center;
	height: 3rem;
	h2,h3{
		background-color:$c-cloud;
		margin:0;
		z-index: 2;
		display: inline-block;
		width: auto;
		padding-left:.5rem;
		padding-right:.5rem;

		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
	}
	&:before{
		content:'';
		display: block;

		position:absolute;
		top:50%;
		transform:translateY(-50%);

		width: 100%;
		height: 2px;
		background-color:$c-shadow-border;
		z-index:  0;
	}
}


section#tips{
	.shade{
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		display: block;
		background:linear-gradient(-90deg, rgba($c-note,.5), rgba($c-positive,.1) );
		opacity:.5;
	}
	.backdrop{

	}
	.backdrop img{
		display: block;
		width: 100%;
		height: auto;
	}

	.section-content{
		position:absolute;
		top:50%;
		left: 0;
		transform:translateY(-50%);
		color:white;

		.btn.positive{
			min-width: auto;
			width: 250px!important;
		}
		.content-wrap{
			padding:2rem;
			width: auto;
		}
	}
	@media screen and (min-width:$w-med){
		height: auto;
		max-height: 650px;
		overflow-y: hidden;
		.section-content{
			width: auto;
			max-width: 50%;
			left: 2rem;
			h2{
				font-size: 3.998rem;
				margin-bottom: 2.25rem;
			}
		}
	}

	@media screen and (min-width:$w-dtl){
		max-height: 800px;
	}
}

.alternative-upsells{
	margin-bottom:2rem;
	overflow:hidden;

	.legend::before{
		width: 75%;
		left:50%;
		transform:translateX(-50%);
	}

	.slick-slider .slick-slide{
		margin: 1rem;
		text-align: center;

		.woocommerce-loop-product__link{
			text-align: center;
		}
		img.wp-post-image{
			margin: 0 auto; 
		}
		.woocommerce-loop-product__title{
			padding-left:.5rem;
			padding-right:.5rem;

			font-size: 1rem;
		}

	}
	a.button,
	.price,
	.star-rating{
		display: none;
	}
}


/**
* Woo-basics
*/
ul.products{
	list-style: none;

	h2.woocommerce-loop-product__title{
		@extend h4;
		font-family: $font-body;
	}
	a{
		text-decoration: none;
		color:black;
		&:hover{
			color:$c-note;
		}
	}
}

/**
* FORMS
*/ 
form{
	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="tel"],
	input[type="email"],
	textarea{
		border-radius: 0;
		box-shadow: none;
		border: solid 1px darken(#f9f9f9,5);
		background-color: $c-cloud;
		padding: .5rem;
		font-size: 1rem;
		line-height: 1rem;
	}
	input.button{
		font-family:$font-headings;
		text-decoration:none;

		font-size: 1rem;
		padding:.8rem;
		width: auto!important;
		min-width: 180px;

		display: block;
		border-radius:3px;
		border-color:transparent;
		border-bottom:solid 2px $c-positive-shadow;

		background-color:$c-positive;
		color:white;

		text-align:center;

		margin: 1rem 0;

		&:hover{
			box-shadow: $the-shadow;
		}
	}
}

//Hide form titles
.nf-form-title{
	@extend .screen-reader-text;
}
.nf-before-form-content{
	margin-bottom:.5rem;
	@extend strong;
}

.nf-form-wrap.ninja-forms-form-wrap{
	@extend form;

	input[type="submit"],
	input[type="button"]{
		font-family:$font-headings;
		text-decoration:none;

		font-size: 1rem;
		padding:.8rem;
		width: auto!important;
		min-width: 180px;

		display: block;
		border-radius:3px;
		border-color:transparent;
		border-bottom:solid 2px $c-positive-shadow;

		background-color:$c-positive;
		color:white;

		text-align:center;

		margin: 1rem 0;

		&:hover{
			box-shadow: $the-shadow;
		}
	}
	label{
		@extend label;
	}
	.listcheckbox-wrap .nf-field-label,
	.label-left .listradio-wrap .nf-field-label{
		width: auto;
	}
	.nf-help{
		background:none;
	}
}


.nf-input-limit{
	@extend .screen-reader-text;
}


.mfp-content form.woocommerce-form{
	p.form-row{
		width: 100%;
		float:none;
	}
}

form.woocommerce-checkout.checkout{
	
		text-align: left;
	
}